# ENvironment
ENV = DEV

# Dataset
DATASET = data / ecommerce_sales.csv
STOCK_DATASET = data / stock_data.csv

# CLEANED Dataset
CLEANED_ESALES_DATASET = data / cleaned_ecommerce_sales.csv
CLEANED_STOCK_DATASET = data / cleaned_stock_data.csv

# Chart Style
REPORT_THEME = whitegrid
PALETTE = viridis

# Viszualization Path
VISUALIZATION_PATH = charts

# PDF Report Path
PDFREPORT = reports

# Data Config File
DATA_FETCHER_CONFIG = report_data_fetcher.json

CHART_CATEGORY = [
    "Statistical & Distribution",
    "Relational & Trend",
    "Categorical",
    "Map",
    "3D",
    "Metrix",
    "PtoW",
    "Finance",
]
