
DATASET=data/ecommerce_sales.csv
STOCK_DATASET=data/stock_data.csv
REPORT_THEME=whitegrid
PALETTE=viridis
VISUALIZATION_PATH=charts 
CLEANED_ESALES_DATASET=data/cleaned_ecommerce_sales.csv
CLEANED_STOCK_DATASET=data/cleaned_stock_data.csv
