
DATASET=data/ecommerce_sales.csv
STOCK_DATASET=data/stock_data.csv
REPORT_THEME=whitegrid
PALETTE=viridis
VISUALIZATION_PATH=charts 
CLEANED_DATASET=data/cleaned_ecommerce_sales_category.csv
CLEANED_DATASET_SUBCAT=data/cleaned_ecommerce_sales_subcategory.csv