contourpy==1.3.3
cycler==0.12.1
dotenv==0.9.9
Faker==40.37.0
fonttools==4.64.0
kiwisolver==1.5.1
matplotlib==3.11.1
mplfinance==0.12.10b0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
-e git+https://github.com/ashokjha/sampledataengineering@6602ea5cd9b5c1ae3590a8f510ef9af10041c0d2#egg=sample_de
seaborn==0.13.2
six==1.17.0
